* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    color:white;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    margin-bottom: 0;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1 !important;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }  


h1 {
    color:#000;
}

.ticket {
    width: 20%;
    background-color: #24252a;
    color: aliceblue;
    margin-left: 1%;
    margin-top: 5%;
    text-align: center;
    float: left;
    align-content: center;
}

.boutiques {
    align-content: center;
    margin-top: 5%;
    width: 100%;
}

.form {
    float: none;
}

